#resume {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2.25rem;
}

.resume-section {
  margin: 50px 0 0 0;
  text-align: center;
}

.resume-section .section-heading {
  text-align: center;
  font-family: Garamond;
  font-size: 1.5rem;
  letter-spacing: 0.55px;
  color: #484848;
  opacity: 1;
}

.resume-section .section-description {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  letter-spacing: .025em;
  color: #484848;
  margin: 15px 0;
  opacity: 1;
}

.experience {
  margin-bottom: 30px;
}
