a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  height: 4.75rem;
  justify-content: space-between;
  background: transparent linear-gradient(58deg, #A5B49D 0%, #237198 11%, #7D9F9B 63%, #237198 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
};

li {
  list-style: none;
}

.homeButton {
  padding: 1rem;
}

.homeButton p {
  font: normal normal normal 30px/42px Adobe Garamond Pro;
  letter-spacing: 0px;
  color: #FFF3E8;
  opacity: 1;
}
