.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent linear-gradient(58deg, #A5B49D 0%, #237198 11%, #7D9F9B 63%, #237198 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.spelling {
  font: normal normal normal 48px/68px Adobe Garamond Pro;
  letter-spacing: 0.72px;
  color: #FFF3E8;
  opacity: 1;
}

.annunciation {
  font: normal normal 300 23px/28px Europa-Light;
  letter-spacing: 0.34px;
  color: #FFF3E8;
  opacity: 1;
}

#arrowSvg {
  color: #FFF3E8;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
