.App {
  height: 100vh;
  text-align: center;
  min-width: 360px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer-link {
  text-decoration: underline;
  font: normal normal normal 16px/22px Garamond;
  letter-spacing: 0.4px;
  color: #237198;
  opacity: 1;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.footer-rectangle {
  margin: 0 auto;
  height: 1rem;
  background: transparent linear-gradient(180deg, #A5B49D 0%, #237198 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

footer {
  text-align: center;
}

footer p {
  text-align: center;
  font: normal normal 300 14px/20px 'Nunito', sans-serif;
  letter-spacing: 0.35px;
  color: #484848;
  opacity: 1;
  margin-top: 3rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container img {
  margin: 0.25rem 0.25rem;
}

.image-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.image-container-short {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .rectangle {
  margin: 1rem 0;
}

.rectangle {
  border: 1px solid #A5B49D;
  margin: 0 70px;
  min-width: 220px;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

////////////////////////////////////////////////////////////
// Media Queries
////////////////////////////////////////////////////////////
@media only screen and (max-width: 600px){
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-container img {
    margin: .5rem 0;
  }
}

////////////////////////////////////////////////////////////
// ANIMATIONS
////////////////////////////////////////////////////////////
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.slide-left {
  -moz-animation: slide-left 1s;
  -webkit-animation: slide-left 1s;
  animation: slide-left 1s;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-right {
  -moz-animation: slide-right 1s;
  -webkit-animation: slide-right 1s;
  animation: slide-right 1s;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
